html {

  $widthPC: 1920px;
  $widthTab: 768px;
  $widthSp: 568px;

  @mixin pc {
    @media (max-width: ($widthPC)) {
      @content;
    }
  }
  @mixin tab {
    @media (max-width: ($widthTab)) {
      @content;
    }
  }

  @mixin sp {
    @media (max-width: ($widthSp)) {
      @content;
    }
  }

  width: 100%;
  height: 4109px;
  font-family: Meiryo;



  body {
    .product_title {
      .img_box {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .title_box {
        font-size: 32px;
        width: 644px;
        height: 234px;
        background-color: #ff9234;
        display: inline-block;
        position: absolute;
        top: 28%;
        left: 34%;
        p {
          margin-top: 30px;
          color: #fff;
          text-align: center;
          line-height: 50px;
        }
        .logotitle {
          font-size: 60px;
          font-weight: bold;
        }
      }
    }
    .product_message {
      .product_messagebox {
        background-color: #ff9234;
        height: 800px;
        padding-top: 180px;
        h1, p {
          color: #fff;
          text-align: center;
        }
        h1 {
          font-size: 48px;
          padding-bottom: 50px;
        }
        p {
          margin-top: 50px;
          font-size: 36px;
          line-height: 40px;
        }
      }
    }
    .service {
      .servicebox {
        .service_description {
          background-color: #ffeed5;
          height: 689px;
          text-align: center;
          h2 {
            padding-top: 130px;
            margin-bottom: 50px;
            color: #ff9234;
            font-size: 48px;
            font-weight: normal;
          }
          .schoolboxs {
            display: flex;
            justify-content: center;
            align-items: center;
            .schoolbox {
              background-color: #fff;
              width: 526px;
              height: 301px;
              margin-left: 10px;
              margin-right: 10px;
              text-align: center;
              .shooltitle {
                padding-top: 80px;
                margin-bottom: 40px;
                color: #ffcd3c;
                font-size: 36px;
              }
              p {
                line-height: 30px;
                color: #505050;
              }
            }
          }
        }
        .service_start {
          height: 689px;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          img {
            position: absolute;
            left: 10%;
          }
          .service_startbox {
            width: 1259px;
            height: 477px;
            background-color: #ff9234;
            .service_start_title, .service_start_message {
              color: #fff;
              text-align: center;
            }
            .service_start_title {
              font-size: 60px;
              margin-top: 50px;
              .service_start_message {
                font-size: 40px;
              }
            }
            .button {
              text-align: center;
              display: flex;
              justify-content: flex-end;
              .reservation, .estimate {
                font-size: 30px;
                width: 432px;
                height: 91.01px;
                margin: 80px 10px;
              }
              .reservation {
                background-color: #01aef0;
                color: #fff;
              }
              .estimate {
                background-color: #fff;
                color: #01aef0;
                border: solid 2px #01aef0;
              }
            }
          }
        }
      }
    }
    .function {
      .function_box {
        .function_title {
          background-color: #ffcd3c;
          color: #fff;
          height: 176px;
          text-align: center;
          font-size: 32px;
        }
        .function_point {
          margin: 50px 40px;
          .function_point12_wrap {
            display: flex;
            .function_point1 {
              .function_point1_titlewrapper {
                display: flex;
                margin-top: 100px;
                .push {
                  border: solid 1px #ffcd3c;
                  border-radius: 50%;
                }
                .function_point1_pwrapper {
                  margin-left: 20px;
                }
                .function_point1_title {
                  font-size: 36px;
                  font-weight: bold;
                }
              }
              .function_point1_description {
                margin-top: 20px;
                line-height: 30px;
                color: #505050;
              }
              .function_point1_image {
                width: 800px;
                height: 452px;
                position: relative;
                margin: 3em 0;
                padding: 2.5em 2em;
                border: solid 1px #ff9234;
                .box_comment {
                  position: relative;
                  display: inline-block;
                  margin: 1.5em 0 1.5em 15px;
                  padding: 7px 10px;
                  min-width: 120px;
                  max-width: 100%;
                  color: #555;
                  font-size: 20px;
                  border: solid 2px #aaa;
                  border-radius: 10px;
                }
                .box_comment:before {
                  content: "";
                  position: absolute;
                  top: 50%;
                  left: -30px;
                  margin-top: -15px;
                  border: 15px solid transparent;
                  border-right: 15px solid #aaa;
                }
                p {
                  margin: 0;
                  padding: 0;
                }
                .function_point1_image, .box-title {
                  position: absolute;
                  display: inline-block;
                  top: -13px;
                  left: 10px;
                  padding: 0 9px;
                  font-size: 20px;
                  background: #fff;
                  color: #ff9234;
                }
                .function_point1_wrapper {
                  display: flex;
                  margin-left: 20%;
                  margin-right: 20%;
                  .point1_wrapper1, .point1_wrapper2 {
                    margin: 50px 40px;
                  }
                }
                .point1_comment {
                  margin: 10px 150px;
                }
              }
            }
            .function_point2 {
              .function_point2_titlewrapper {
                display: flex;
                margin-top: 100px;
                .push {
                  border: solid 1px #ffcd3c;
                  border-radius: 50%;
                }
                .function_point2_pwrapper {
                  margin-left: 20px;
                }
                .function_point2_title {
                  font-size: 36px;
                  font-weight: bold;
                }
              }
              .function_point2_description {
                margin-top: 20px;
                line-height: 22px;
              }
              .function_point2_image {
                width: 800px;
                height: 452px;
                position: relative;
                margin: 3em 0;
                padding: 2.5em 2em;
                border: solid 1px #ff9234;
                p {
                  margin: 0;
                  padding: 0;
                }
                .function_point2_image, .box-title {
                  position: absolute;
                  display: inline-block;
                  top: -13px;
                  left: 10px;
                  padding: 0 9px;
                  font-size: 20px;
                  background: #fff;
                  color: #ff9234;
                }
                .function_point2_wrapper {
                  .point2_wrapper1,  .point2_wrapper2 {
                    display: flex;
                    margin-left: 10%;
                    margin-right: 10%;
                    li {
                      margin-left: 20%;
                      width: 200px;
                      line-height: 30px;
                    }
                  }
                }
              }
            }
          }
          .function_point34_wrap {
            display: flex;
            .function_point3 {
              .function_point3_titlewrapper {
                display: flex;
                margin-top: 100px;
                .push {
                  border: solid 1px #ffcd3c;
                  border-radius: 50%;
                }
                .function_point3_pwrapper {
                  margin-left: 20px;
                }
                .function_point3_title {
                  font-size: 36px;
                  font-weight: bold;
                }
              }
              .function_point3_description {
                margin-top: 20px;
                line-height: 30px;
              }
              .function_point3_image {
                width: 800px;
                height: 452px;
                position: relative;
                margin: 3em 0;
                padding: 2.5em 2em;
                border: solid 1px #ff9234;
                .box_comment {
                  position: relative;
                  display: inline-block;
                  margin: 1.5em 0 1.5em 15px;
                  padding: 7px 10px;
                  min-width: 120px;
                  max-width: 100%;
                  color: #555;
                  font-size: 20px;
                  border: solid 2px #aaa;
                  border-radius: 10px;
                }
                .box_comment:before {
                  content: "";
                  position: absolute;
                  top: 50%;
                  left: -30px;
                  margin-top: -15px;
                  border: 15px solid transparent;
                  border-right: 15px solid #aaa;
                }
                p {
                  margin: 0;
                  padding: 0;
                }
                .function_point3_image, .box-title {
                  position: absolute;
                  display: inline-block;
                  top: -13px;
                  left: 10px;
                  padding: 0 9px;
                  font-size: 20px;
                  background: #fff;
                  color: #ff9234;
                }
                .function_point3_wrapper {
                  display: flex;
                  margin-left: 20%;
                  margin-right: 20%;
                  table {
                    border-spacing: 0;
                    td {
                      border-bottom: solid 2px #ddd;
                      padding: 12px 50px 12px 0;
                    }
                  }
                }
              }
            }
            .function_point4 {
              .function_point4_titlewrapper {
                display: flex;
                margin-top: 100px;
                .push {
                  border: solid 1px #ffcd3c;
                  border-radius: 50%;
                }
                .function_point4_pwrapper {
                  margin-left: 20px;
                }
                .function_point4_title {
                  font-size: 36px;
                  font-weight: bold;
                }
              }
              .function_point4_description {
                margin-top: 20px;
                line-height: 22px;
              }
              .function_point4_image {
                width: 800px;
                height: 452px;
                position: relative;
                margin: 3em 0;
                padding: 2.5em 2em;
                border: solid 1px #ff9234;
                p {
                  margin: 0;
                  padding: 0;
                }
                .function_point4_image, .box-title {
                  position: absolute;
                  display: inline-block;
                  top: -13px;
                  left: 10px;
                  padding: 0 9px;
                  font-size: 20px;
                  background: #fff;
                  color: #ff9234;
                }
                .function_point4_wrapper {
                  display: flex;
                }
              }
            }
          }
        }
      }
    }
    .plan {
      .plan_title {
        background-color: #ffcd3c;
        color: #fff;
        height: 176px;
        text-align: center;
        font-size: 32px;
      }
      .planmenu {
        height: 689px;
      }
      .startservice {
        height: 689px;
        background-color: #ff9234;
      }
    }
  }
}
